@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F9F9FB;
  --foreground: #1F1B32;
  --primary: #313149;
  --accent: #1F1B32;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), ui-sans-serif, system-ui, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-space-grotesk), var(--font-inter), sans-serif;
}

.grid-background {
  background-image: linear-gradient(to right, rgba(0,0,0,0.05) 1px, transparent 1px),
                    linear-gradient(to bottom, rgba(0,0,0,0.05) 1px, transparent 1px);
  background-size: 40px 40px;
}

html {
  scroll-behavior: smooth;
}
